[Desktop Entry]
Name=Brackets
Comment=Edit static html app
Exec=/opt/brackets/wraper.sh
Icon=/opt/brackets/appshell256.png
Terminal=false
Type=Application
Categories=Utility;TextEditor;